<h1 class="Jumbotron">SAT - Scheduling Admin Tool</h1>

@if (!User.IsInRole("Admin") && !User.IsInRole("Scheduling"))
{
    <h2>Documentation:</h2>
    <a href="#">Documentation PDF Download</a>
}
@else
{ 
    <h2>Please Login to Access Full Functionality</h2>
    <p>If you are logged in and cannot access the tool this means you are not in a role that allows the use of the tool.</p>
}