@{
    ViewBag.Title = "Home Page";
}
@if (!User.IsInRole("Admin") && !User.IsInRole("Scheduling"))
{
    <h2>Please Login for Full Functionality</h2>
    <p>If you are logged in and cant access full functionality this means you don't have a role assigned.</p>
}
else
{
<h2 class="text-center">Documentation:</h2>
<div class="row">
   <div class="col-md-12 text-center">
    <embed style="height: 600px; width: 1140px;" src="~/Content/SATProjectLabPDF.pdf" />
    </div>
</div>
<br />
} 